<!--
select { font-family: Courier, Monospace, Verdana, Arial, Helvetica, sans-serif;
         font-size: 10pt; }
body {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
td   {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
li   {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
ul   {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
ol   {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
p    {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
h1   {  font-family: Arial, Helvetica, sans-serif; font-size: 18pt; }
h2   {  font-family: Arial, Helvetica, sans-serif; font-size: 16pt; }
h3   {  font-family: Arial, Helvetica, sans-serif; font-size: 14pt; }
h4   {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; }
h5   {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
pre  {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; }

td.ibm          { font-family: Helvetica, Helv, Arial, sans-serif; font-size: 10pt; }
td.linuxcare    { font-family: Helvetica, Helv, Arial, sans-serif; font-size: 10pt; }

a                 { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; cursor: hand;
                    text-decoration: none; }
a.home            { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #FFFF00; }
a.home:hover      { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #FFFFCC; }
a.home:visited    { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #CCCC99; }
a.homenav         { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #FFFF00; }
a.homenav:hover   { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #99FF99; }
a.homenav:visited { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #BBBB00; }

a:hover { color: red; text-decoration: underline; }

a:visited { color: purple; }
a:active  { color: blue; }
a.privacy         { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: yellow; }
a.privacy:visited { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: yellow; }
a.tab             { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: "#FFFFDD"; }
p.tab             { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: "#FFFFDD"; }
p.activetab       { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: white; }
big               { font-family: Arial, Helvetica, sans-serif; font-size: 16pt; }
a.small           { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; }
p.small           { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; }
td.small          { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; }
p.11pt            { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
td.11pt           { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
font.small        { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; }
a.supersmall      { font-family: Arial, Helvetica, sans-serif; font-size: 9px; }
p.supersmall      { font-family: Arial, Helvetica, sans-serif; font-size: 9px; }
td.supersmall     { font-family: Arial, Helvetica, sans-serif; font-size: 9px; }
font.supersmall   { font-family: Arial, Helvetica, sans-serif; font-size: 9px; }

.palm_subnav { font-family: verdana, arial, helvetica; font-size: 10px; font-weight: bold; color: #333; }
A.palm:link  { font-family: verdana, arial, helvetica; font-size: 10px; font-weight: bold; color: #369; }
A.palm       { font-family: verdana, arial, helvetica; font-size: 10px; font-weight: bold;
               text-decoration: none; }
A.palm:alink { font-family: verdana, arial, helvetica; font-size: 10px; font-weight: bold; color: #f90;
               text-decoration: underline; }
A.palm:vlink { font-family: verdana, arial, helvetica; font-size: 10px; font-weight: bold; color: #69c;
               text-decoration: none; }
A.palm:hover { font-family: verdana, arial, helvetica; font-size: 10px; font-weight: bold; color: #f90;
               text-decoration: underline; }


/* Home Page Styles */

td.hdhomewhite     { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #FFFFFF; }
td.hdhomereg       { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
td.hdhomesmall     { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; }
td.hdhomebottomnav { font-family: Arial, Helvetica, sans-serif; font-size: 7pt; color: yellow; }
                        
a.hdhomenews       { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000; }
a.hdhomenewsem     { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #FF2020; }
a.hdhomenews:hover { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000;
                     text-decoration: underline; }
a.hdhomenews:visited  { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000; }
a.hdhomeprivacy       { font-family: Arial, Helvetica, sans-serif; font-size: 7pt; color: yellow; }
a.hdhomeprivacy:hover { font-family: Arial, Helvetica, sans-serif; font-size: 7pt; color: yellow;
                        text-decoration: underline; }
a.hdhomeprivacy:visited { font-family: Arial, Helvetica, sans-serif; font-size: 7pt; color: yellow; }
a.hdhomesmall         { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; }
a.hdhomesmall:hover   { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; text-decoration: underline; }
a.hdhomesmall:visited { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; }


/* Regular Text */

.regText         { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000; font-weight: normal; }
.italicText      { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000; font-style: italic; }
.redBold         { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #993300; font-weight: bold; }
.boldText        { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000; font-weight: bold; }
.groupingLabel   { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #333366; }
.groupingTitle   { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #666699; font-weight: bold; }
.blueHeader      { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #333366; font-weight: bold; }

.code            { font-family: Courier, Monospace; font-size: 10pt; }

.categoryPath		{ font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: white; text-decoration: none; }
a.categoryPath		{ font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: white; text-decoration: underline; }
a.categoryPath:visited	{ font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: white; text-decoration: underline; }

.categoryPathSmall	{ font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: white; text-decoration: none; }
a.categoryPathSmall	{ font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: white; text-decoration: underline; }
a.categoryPathSmall:visited	{ font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: white; text-decoration: underline; }

.categoryRelated { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: white; text-decoration: none; }


/* Tables */

.colHeader       { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #FFFFFF;
                   font-weight: bold; background-color: #666699; text-decoration: none; }
.colFooter       { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000;
                   font-weight: bold; background-color: #BBBBBB; text-decoration: none; }
.tableData       { font-family: Arial, Helvetica, sans-serif; font-size: 9pt;  color: #000000; }
.tableRowColor1  { background-color: #EEEEEE; }
.tableRowColor2  { background-color: #FFFFFF; }
.tableBackground { background-color: #FFFFFF; }
.tableBorder     { background-color: #666699; }
.noRowsColor     { background-color: #FFFFC3 }
.tableTitleWhite { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #FFFFFF; font-weight: bold; }
.tabSelected     { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #FFFFFF;
                   font-weight: bold; background-color: #666699; text-decoration: none; }
.tabUnselected   { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #FFFFFF;
                   font-weight: bold; background-color: #CCCCCC; text-decoration: none; }


/* Forms */

.formFieldName     { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #333366; }
.formFieldFootnote { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #333366; }
.formFieldNameReq  { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #DE5E5E; }


/* Button Styles */

.btnEdgeGray   { background-color: #555555; }
.btnEdgeLtGray { background-color: #E4E4E4; }
.btnNumber     { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #666699; font-weight: bold; }


/* Torpedos and Titles */

.torpedo    { font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #FCFE9C;
              font-weight: bold; background-color: #545454; }
.torpedoSub { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #FFFFFF; font-weight: bold; }
.pageTitle  { font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #333366; font-weight: bold; }
.pageHeader { font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #000000; font-weight: bold; }


/* Responses (i.e. solutions/messages) Display */

.responsesName    { background-color: #555555; font-family: Arial, Helvetica, sans-serif; color: #FFFF99; font-weight: normal; font-size: 9pt; }

.responsesLine    { background-color: #555555; }

.responsesMessage { background-color: #666699; font-family: Arial, Helvetica, sans-serif; color: #FFFFFF; font-weight: normal; font-size: 9pt; }

.responsesText    { background-color: #E5E5E5; font-family: Arial, Helvetica, sans-serif; color: #000000; font-weight: normal; font-size: 9pt; }

/* Officefront */

.officefrontHeader1     { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #FFFF99; font-weight: bold; background-color: #545454; }

.officefrontHeader2     { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #FFFFFF; font-weight: bold; background-color: #666699; text-decoration: none; }

a.officefrontHeader2:visited    { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #FFFFFF; font-weight: bold; background-color: #666699; text-decoration: none; }

/* Footer */

.footerTop             { background-color: #d98f8f; }
.footerMiddle          { background-color: #666699; }
.footerText            { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #FFFFFF; }
.footerPrivacy         { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: yellow; text-decoration: none; }
.footerPrivacy:visited { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: yellow; text-decoration: none; }


/* Other Background Colors */

.lineColor              { color: #666699; }
.pageBackground         { background-color: #FFFFFF; }
.headerColor            { background-color: #666699; }
.pageHeaderGray         { background-color: #555555; }
.white                  { background-color: #FFFFFF; }
.descriptionBorder      { background-color: #CCCCCC; }
.black                  { background-color: #000000; }


/* Help Styles */

body.help { font-size: 9pt; font-family: arial, helvetica, sans-serif;; background-color: #FFFFFF }
td.help   { font-size: 9pt; font-family: arial, helvetica, sans-serif;; background-color: #FFFFFF }
li.help   { font-size: 9pt; font-family: arial, helvetica, sans-serif;; background-color: #FFFFFF }
ul.help   { font-size: 9pt; font-family: arial, helvetica, sans-serif;; background-color: #FFFFFF }
ol.help   { font-size: 9pt; font-family: arial, helvetica, sans-serif;; background-color: #FFFFFF }
p.help    { font-size: 9pt; font-family: arial, helvetica, sans-serif;; background-color: #FFFFFF }
a.help    { font-size: 9pt; font-family: arial, helvetica, sans-serif;; background-color: #FFFFFF }

h1.help { font-size: 11pt; color: #EB9710; font-weight: bold; font-family: arial, helvetica, sans-serif;; background-color: #FFFFFF }
h2.help { font-size: 11pt; color: #336699; font-weight: bold; font-family: arial, helvetica, sans-serif;; background-color: #FFFFFF }
h3.help { font-size: 9pt;  color: #336699; font-weight: bold; font-family: arial, helvetica, sans-serif;; background-color: #FFFFFF }
h4.help { font-size: 9pt;  color: #EB9710; font-weight: bold; font-family: arial, helvetica, sans-serif;; background-color: #FFFFFF }


/* Corporate Accounts Styles */

.corpTorpedo      { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #FFFFFF;
                    font-weight: bold; background-color: #333366; }
.corpLineColor    { background-color: #333366; }
.corpHeader       { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #333366; font-weight: bold; }
.corpHeaderSmall  { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #333366; font-weight: bold; }
.corpFieldName    { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #336699; }
.corpFieldSmall   { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #336699; }
.corpColHeader    { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #FFFFFF; }
.corpSmallBlue    { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #003366; font-decoration: none; }
.corpSmallBold    { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #003366;
                    font-decoration: none; font-weight: bold; }
.corpHeaderBackground { background-color: #336699; }
.corpRowColor1    { background-color: #FAFAFA; }
.corpRowColor2    { background-color: #E5E5ED; }
.corpTableLink    { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #003366; text-decoration: underline; }
.corpTableLink:active   { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #003366;
                          text-decoration: underline; }
.corpTableLink:visited  { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #003366;
                          text-decoration: underline; }
.corpTableLink:hover    { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #003366;
                          text-decoration: underline; }
                

/* Navigation Styles */
                        
.menuhead { background-color: #666699;}
td.menusubon { background-color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FF9900; TEXT-DECORATION: none; font-weight: bold;}
.tablehead {Padding-left: 2px; padding-top: 2px;}

A.menuheader:visited { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #ffffff; font-weight: bold; TEXT-DECORATION: none;}
A.menuheader:link { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #ffffff; font-weight: bold; TEXT-DECORATION: none;}
A.menuheader:hover { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color:#FF9900; font-weight: bold; TEXT-DECORATION: none;}

A.menuheaderselected:visited { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #FF9900; font-weight: bold; TEXT-DECORATION: none;}
A.menuheaderselected:link { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #FF9900; font-weight: bold; TEXT-DECORATION: none;}
A.menuheaderselected:hover { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color:#FF9900; font-weight: bold; TEXT-DECORATION: none;}

A.menuitem:visited { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #ffffff; TEXT-DECORATION: none;}
A.menuitem:link { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #ffffff; TEXT-DECORATION: none;}
A.menuitem:hover {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color:#FF9900; TEXT-DECORATION: none;}

A.pmenuitem:visited { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #666699; TEXT-DECORATION: none; font-weight: bold;}
A.pmenuitem:link { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #666699; TEXT-DECORATION: none; font-weight: bold;}
A.pmenuitem:hover {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color:#666699; TEXT-DECORATION: none; font-weight: bold;}


/* HP Bluestone */

.header {
    font-family: Verdana, Helvetica, Arial, Sans-serif;
    font-size: 16pt;
    line-height: 18pt;
}

.pageIndicator {
    font-family: Verdana, Helvetica, Arial, Sans-serif;
    color: #666666;
    font-size: 8pt;
}

A.navArrowBold {
    font-size: 8pt;
    font-weight: bold;
    line-height: 12pt;
	text-decoration:none;
}
A.navArrowBold:visited {color: #336699;}

A.navArrowReg {
    font-size: 8pt;
    line-height: 12pt;
	text-decoration: none;
}
A.navArrowReg:visited {color: #336699;}

IMG.navArrow {
    margin-top:7px;
    margin-right:3px;
}

TH.columnHdr {
    font-family: Verdana, Helvetica, Arial, Sans-serif;
    color: #FFFFFF;
    font-size: 8pt;
    font-weight: bold;
}

TD.columnHdr {
    font-family: Verdana, Helvetica, Arial, Sans-serif;
    color: #FFFFFF;
    font-size: 8pt;
    font-weight: bold;
}


/* Cisco IP Telephony */

.disclaimer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7pt;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: normal;
}


-->
